:root {
  --hero-bg: #2e2f42;
  --primary: #4d5ae5;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --pressed: #404bbf;
  --text: #434455;
  --l-slate: #8e8f99;
  --success: #31d0aa;
  --horizontal-gap: 24px;
  --vertical-gap: 48px;
  --large-v-gap: 120px;
  --mob-gap: 96px;
  --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: auto;
  padding: 0;
  border: 0;
  color: var(--hero-bg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  /* width: 100%; */
  height: auto;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--hero-bg);
}

.web {
  color: var(--primary);
}

.header .nav {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-close {
  display: none;
}

.menu-open {
  stroke: var(--hero-bg);
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    z-index: 999;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-close {
    fill: var(--hero-bg);
    opacity: 1;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms var(--timing-cubic);
  }
}

.menu-container .menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.menu-container.is-open .menu-open {
  display: none;
}

.menu-container.is-open .menu-close {
  display: block;
  position: absolute;
}

.menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.current > .menu-link {
  color: var(--pressed);
}

.cont-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text);
}

@media screen and (max-width: 767px) {
  .mob-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary);
    margin-bottom: 40px;
    display: block;
  }

  .mob-contacts {
    margin-top: auto;
  }

  .contacts {
    margin-bottom: var(--vertical-gap);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .main-menu {
    display: flex;
    list-style: none;
    margin-left: 72px;
    align-items: center;
    padding: 24px 0;
  }
  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .menu-item:last-child {
    margin-right: 0;
  }

  .current {
    position: relative;
  }

  .current > .menu-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background: var(--pressed);
    border-radius: 2px;
  }

  .menu-link {
    text-decoration: none;
    color: var(--hero-bg);
    transition: color 250ms var(--timing-cubic);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed);
  }

  .header .container,
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav > .nav-link {
    color: var(--hero-bg);
  }

  .cont-item {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    text-decoration: none;
  }

  .cont-item:first-child {
    margin-left: 0;
  }

  .cont-link {
    color: var(--text);
    font-style: normal;
    transition: color 250ms var(--timing-cubic);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
  }

  .cont-link:hover,
  .cont-link:focus {
    color: var(--pressed);
  }

  .contacts {
    padding: 12px 0;
  }

  .menu-container .social-items {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cont-item {
    margin-left: 40px;
  }

  .cont-item {
    display: inline-flex;
  }

  .contacts {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .mob-contacts {
    display: flex;
  }
}

.menu-link {
  text-decoration: none;
  color: var(--hero-bg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  min-width: 310px;
  max-width: 392px;
  width: 100%;
  min-height: 584px;
  background-color: #fff;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-cubic);
  padding-top: 72px;
  padding-left: var(--horizontal-gap);
  padding-right: var(--horizontal-gap);
  padding-bottom: var(--horizontal-gap);
  display: block;
}

.js-close-menu,
.cross,
.close {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
}

@media screen and (min-width: 768px) {
  .js-close-menu {
    display: none;
  }

  .header .nav {
    height: 100%;
  }
}

.js-close-menu,
.cross {
  top: 24px;
  right: 24px;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-cubic);
}

.close {
  fill: var(--hero-bg);
  opacity: 1;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--timing-cubic);
}

.cross:hover {
  background-color: var(--pressed);
  opacity: 1;
  border: 0;
}

.cross:hover .close {
  fill: #f4f4fd;
}

.modal .cross {
  background-color: var(--accent);
}

.hero {
  display: block;
  background-color: var(--hero-bg);
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero428.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0;
}

@media (min-width: 480px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero428@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero768.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero768@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero1440.jpg");
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero1440@2x.jpg");
  }
}

.title1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.title3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--hero-bg);
}

.hero .title1 {
  color: white;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .title1 {
    font-size: 56px;
    line-height: 1.07;
  }

  .hero .title1 {
    width: 496px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
}

.action-button {
  padding: 16px 32px;
  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  cursor: pointer;
  min-width: 169px;
  transition: background-color 250ms var(--timing-cubic);
}

.hero-cta {
  margin: 48px auto 0;
}

.action-button:hover,
.action-button:focus {
  background-color: var(--pressed);
}

.social-items {
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 16px;
}

.mob-contacts .social-items li:not(:last-child) {
  margin-right: 56px;
}

.social-item {
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  display: block;
}

@media screen and (min-width: 768px) {
  .social-item {
    transition: background-color 250ms var(--timing-cubic);
  }

  .social-item:hover,
  .social-item:focus {
    background-color: var(--pressed);
  }
}

.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-icons {
  display: none;
}

.section {
  padding-top: var(--mob-gap);
  padding-bottom: var(--mob-gap);
}

@media screen and (max-width: 767px) {
  .feature:not(:last-child) {
    padding-bottom: 72px;
  }
}

.feature-text {
  margin-top: 8px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .benefits-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .feature {
    display: inline-block;
    flex-basis: calc((100% / 2 - var(--horizontal-gap)));
  }

  .feature .title3 {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--large-v-gap);
    padding-bottom: var(--large-v-gap);
  }

  .benefits {
    padding-bottom: 0;
  }

  .feature {
    flex-basis: calc((100% / 4 - var(--horizontal-gap)));
  }

  .feature-text {
    font-weight: 400;
  }

  .title3,
  .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .feature-icons {
    background-color: var(--light);
    padding: 24px 100px;
    display: block;
    margin-bottom: 8px;
  }

  .feature-icon {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .title2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .works {
    padding-bottom: var(--large-v-gap);
  }

  .works .title2 {
    text-align: center;
  }

  .works-grid {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .works-grid,
  .team-grid {
    margin-top: 72px;
  }

  .work-item {
    flex-basis: calc(100% / 3 - var(--horizontal-gap));
  }
}

.team {
  background-color: var(--light);
}

.team-grid {
  margin-top: 72px;
}

.team-member {
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-member .title3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .team-member:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-name {
  padding: 32px 16px;
  background-color: #fff;
  text-align: center;
}

.team-name .social-items {
  justify-content: space-between;
  margin-top: 0;
}

.team-name .social-item {
  padding: 12px;
}

.team-name .social-icon {
  width: 16px;
  height: 16px;
}

.team-name p {
  margin: 8px 0;
}

.customers-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 72px;
  flex-wrap: wrap;
}

.customer {
  flex-basis: calc(100% / 2 - 16px);
  margin-bottom: 72px;
}

.customer-item {
  border: 1px solid var(--l-slate);
  border-radius: 4px;
  padding: 16px 42px;
  display: block;
  fill: var(--l-slate);
  transition: border 250ms var(--timing-cubic), fill 250ms var(--timing-cubic);
}

.customer-item:hover,
.customer-item:focus {
  fill: var(--pressed);
  border: 1px solid var(--pressed);
}

.customer-icon {
  width: 104px;
  height: 56px;
  display: block;
}

@media screen and (max-width: 419px) {
  .customers-list {
    display: flex;
    margin-top: 72px;
    align-items: center;
    flex-direction: column;
  }
  .customer:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .customer:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team-member {
    flex-basis: calc(100% / 2 - var(--horizontal-gap));
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member:nth-child(n + 3) {
    margin-top: 64px;
  }

  .feature:nth-child(n + 3) {
    padding-top: 72px;
  }

  .team .container,
  .customers .container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 768px) {
  .customer {
    flex-basis: calc(100% / 3 - var(--horizontal-gap));
    margin-bottom: 72px;
  }

  .customer:nth-child(n + 4) {
    margin-bottom: 0;
  }

  .customer-item {
    padding: 16px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    flex-basis: calc(100% / 6 - var(--horizontal-gap));
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    flex-basis: calc(100% / 4 - var(--horizontal-gap));
  }
}

.footer {
  background-color: var(--hero-bg);
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent);
  min-height: 310px;
  padding: var(--mob-gap) 0;
}

.footer .logo {
  display: block;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-text {
  width: 268px;
  margin: auto;
}

.footer-column2,
.footer-column3 {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column2 p,
.footer-column3 p {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.footer-column3 {
  margin-left: auto;
}

.footer-column3 p {
  margin-bottom: 16px;
}

.footer-columns .social-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
}

.footer-columns .social-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
}

.social-items li {
  margin-right: 16px;
}

.social-items li:last-child {
  margin-right: 0;
}

.footer-columns .social-item:hover,
.footer-columns .social-item:focus {
  background: var(--success);
}

.footer-columns .social-icon {
  width: 24px;
  height: 24px;
}

.footer-columns .social-icon:hover {
  width: 24px;
  height: 24px;
  background: var(--success);
}

.subscription-form {
  position: relative;
  display: block;
  width: 100%;
}

.subscription-form input {
  width: 100%;
  max-width: 398px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-bg);
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.subscription-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  width: 165px;
  padding: 8px 24px;
  background-color: var(--primary);
  border-radius: 4px;
  border: var(--primary);
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  transition: background-color 250ms var(--timing-cubic);
  display: flex;
  margin: auto;
  margin-top: 16px;
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed);
}

.subscribe-button::after {
  background-image: url(../images/subscription.svg);
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  bottom: 8px;
  right: 140px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-column1,
  .footer-column2 {
    display: inline-grid;
  }

  .footer-column1 {
    margin-right: var(--horizontal-gap);
  }

  .footer-column2 {
    margin-top: 0;
  }

  .footer-column3 {
    display: block;
  }

  .footer-column3 input {
    width: 264px;
  }

  .footer {
    padding-left: 108px;
  }

  .footer .logo {
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-column2 p,
  .footer-column3 p {
    text-align: left;
  }

  .subscription-form {
    display: flex;
  }

  .subscribe-button {
    margin: 0;
    margin-left: var(--horizontal-gap);
  }

  .subscribe-button::after {
    left: 405px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-columns {
    display: flex;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-column1,
  .footer-column2 {
    display: block;
  }

  .footer-column2 {
    margin-left: var(--large-v-gap);
  }

  .footer-column3 {
    margin-top: 0;
    margin-left: auto;
  }

  .subscription-form input {
    border: 1px solid #ffffff;
  }

  .subscription-form input::placeholder {
    color: #fff;
  }
}

.form h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-bg);
  margin-bottom: 16px;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--l-slate);
  padding-bottom: 4px;
}

.form-field,
.form-area {
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  padding-left: 38px;
  color: var(--text);
  transition: border 250ms var(--timing-cubic);
}

.form-field {
  height: 40px;
}

.form-area::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-area {
  height: 120px;
  padding: 8px 16px;
}

.form-field:focus,
.form-area:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

.form-checkbox {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.form-checkbox a {
  color: var(--primary);
  display: contents;
}

.agree-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fff;
  border: 1px solid var(--hero-bg);
  border-radius: 2px;
  margin-right: 8px;
  fill: none;
  transition: background-color 250ms var(--timing-cubic),
    border 250ms var(--timing-cubic), fill 250ms var(--timing-cubic);
}

.agree-checkbox:checked + .checkbox-icon {
  background: var(--pressed);
  border: 1px solid var(--pressed);
  fill: var(--light);
}

.form-button {
  margin: var(--horizontal-gap) auto 0;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 29px;
  fill: var(--hero-bg);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-cubic);
}

.form-field:focus ~ .form-icon {
  fill: var(--primary);
}

.section-portfolio {
  padding-top: var(--vertical-gap);
}

.projects {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-desc {
  display: none;
}

@media screen and (max-width: 767px) {
  .project-item {
    margin-bottom: var(--vertical-gap);
  }
}

.card-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.projects-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--vertical-gap);
}

.project-type {
  background-color: var(--light);
  padding: 8px 16px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  color: var(--primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 250ms var(--timing-cubic),
    background-color 250ms var(--timing-cubic);
}

.project-type:hover,
.project-type:focus {
  background: var(--primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  border: 1px solid var(--primary);
  font-weight: 500;
  font-style: normal;
}

.project-tab {
  list-style: none;
  margin-right: 24px;
  margin-bottom: 16px;
}

.project-tab:last-child {
  margin-right: 0;
}

.project-tab:nth-child(n + 4) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .projects-nav {
    justify-content: center;
  }

  .project-type {
    padding: 12px 24px;
  }

  .projects {
    justify-content: space-between;
  }

  .project-tab {
    margin-bottom: 0;
  }

  .project-item {
    flex-basis: calc(100% / 2 - var(--horizontal-gap));
  }

  .project-item {
    margin-bottom: 72px;
  }
}

.project-type:hover,
.project-type:focus {
  background: var(--primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  border: 1px solid var(--primary);
  font-weight: 500;
  font-style: normal;
}

.card {
  transition: box-shadow 250ms var(--timing-cubic);
  text-decoration: none;
  display: block;
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--hero-bg);
}

.project-item-type {
  color: var(--text);
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .project-type {
    cursor: pointer;
  }

  .projects-nav {
    margin-bottom: 72px;
  }

  .section-portfolio {
    padding-top: 100px;
    padding-bottom: var(--large-v-gap);
  }

  .projects > .project-item {
    flex-basis: calc((100% - 2 * var(--horizontal-gap)) / 3);
    margin-bottom: 48px;
  }

  .projects > .project-item:nth-child(n + 7) {
    margin-bottom: 0;
  }

  .project-desc {
    display: block;
    position: absolute;
    top: 100%;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--light);
    opacity: 0;
    transition: 250ms transform var(--timing-cubic);
  }

  .card:hover .project-desc,
  .card:focus .project-desc {
    opacity: 1;
    transform: translateY(-100%);
  }

  .card-img {
    position: relative;
    overflow: hidden;
  }
  .card {
    box-shadow: none;
  }
}
