:root {
  --hero-bg: #2e2f42;
  --primary: #4d5ae5;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --pressed: #404bbf;
  --text: #434455;
  --l-slate: #8e8f99;
  --success: #31d0aa;
  --horizontal-gap: 24px;
  --vertical-gap: 48px;
  --large-v-gap: 120px;
  --timing-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: auto;
  padding: 0;
  border: 0;
  color: var(--hero-bg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--hero-bg);
}

.web {
  color: var(--primary);
}

.header .nav {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  justify-content: space-between;
}

.menu-button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-close {
  display: none;
}

.menu-open {
  stroke: var(--hero-bg);
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    z-index: 999;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-close {
    fill: var(--hero-bg);
    opacity: 1;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms var(--timing-cubic);
  }
}

.menu-container .menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.menu-container.is-open .menu-open {
  display: none;
}

.menu-container.is-open .menu-close {
  display: block;
  position: absolute;
}

.menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.current > .menu-link {
  color: var(--pressed);
}

.cont-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text);
}

@media screen and (max-width: 767px) {
  .mob-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary);
    margin-bottom: 40px;
    display: block;
  }

  .mob-contacts {
    margin-top: auto;
  }

  .contacts {
    margin-bottom: var(--vertical-gap);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .main-menu {
    display: flex;
    list-style: none;
    margin-left: 72px;
    align-items: center;
    padding: 24px 0;
  }
  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .menu-item:last-child {
    margin-right: 0;
  }

  .current {
    position: relative;
  }

  .current > .menu-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background: var(--pressed);
    border-radius: 2px;
  }

  .menu-link {
    text-decoration: none;
    color: var(--hero-bg);
    transition: color 250ms var(--timing-cubic);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed);
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header .container,
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav > .nav-link {
    color: var(--hero-bg);
  }

  .cont-item {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    text-decoration: none;
  }

  .cont-item:first-child {
    margin-left: 0;
  }

  .cont-link {
    color: var(--text);
    font-style: normal;
    transition: color 250ms var(--timing-cubic);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
  }

  .cont-link:hover,
  .cont-link:focus {
    color: var(--pressed);
  }

  .contacts {
    padding: 12px 0;
  }

  .menu-container .social-items {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cont-item {
    margin-left: 40px;
  }

  .cont-item {
    display: inline-flex;
  }

  .contacts {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.menu-link {
  text-decoration: none;
  color: var(--hero-bg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  background-color: #fff;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-cubic);
  padding-top: 72px;
  padding-left: var(--horizontal-gap);
  padding-right: var(--horizontal-gap);
  display: block;
}

.js-close-menu,
.cross,
.close {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
}

@media screen and (min-width: 768px) {
  .js-close-menu {
    display: none;
  }

  .header .nav {
    height: 100%;
  }
}

.js-close-menu,
.cross {
  top: 24px;
  right: 24px;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-cubic);
}

.close {
  fill: var(--hero-bg);
  opacity: 1;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--timing-cubic);
}

.cross:hover {
  background-color: var(--pressed);
  opacity: 1;
  border: 0;
}

.cross:hover .close {
  fill: #f4f4fd;
}

.hero {
  display: block;
  background-color: var(--hero-bg);
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero428.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 112px 0;
}

@media (min-width: 428px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero428@2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero768.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero768@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero1440.jpg");
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero1440@2x.jpg");
  }
}

.title1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero .title1 {
  color: white;
  text-align: center;
  width: 320px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .title1 {
    font-size: 56px;
    line-height: 1.07;
  }

  .hero .title1 {
    width: 496px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
}

.action-button {
  padding: 16px 32px;
  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  cursor: pointer;
  min-width: 169px;
  transition: background-color 250ms var(--timing-cubic);
}

.hero-cta {
  margin: 48px auto 0;
}

.action-button:hover,
.action-button:focus {
  background-color: var(--pressed);
}

.social-items {
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 16px;
}

.social-items li:not(:last-child) {
  margin-right: 56px;
}

.social-item {
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  display: block;
}

@media screen and (min-width: 768px) {
  .social-item {
    transition: background-color 250ms var(--timing-cubic);
  }

  .social-item:hover,
  .social-item:focus {
    background-color: var(--pressed);
  }
}

.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  width: 24px;
  height: 24px;
}
